#uno{
    border-radius: 550px 550px 90px 90px;
    border-bottom: rgb(196, 162, 119) solid 30px;
}
.pan{
    width: 20%;
    height: 45px;
   
    background-color: burlywood;
}
*{
    margin: 0px auto;
}
#dos{
    border-radius: 90% 90% 550% 550%;
    border-top: rgb(196, 162, 119) solid 30px; 
}
#carne{
    border-radius: 16px;
    border-bottom: rgb(206, 107, 14) solid 40px;
    width: 35%;
}
#father{
    position: relative;
    top: 200px;
}
